# private directory used by NetBeans IDE
nbproject/private

# build folder
build

# examples
# private directory used by NetBeans IDE
examples/ClientExample/nbproject/private
examples/ServerExample/nbproject/private